include ../preorder/preorder
include ../photo/photo

section.goods
  h2.goods__header.section-header Каталог
  b.goods__tagline.tagline Все товары здесь

  ul.goods__list

    each item, index in allItems
      div.popup(id="cart"+ item.id)
        div.popup__block
          +preorder(item.id, item.name, item.price, item.sizes, item.colors, index)
      div.popup(id="photos"+ item.id)
        div.popup__block
          +photo(item.img, index)
      li.goods__item(onclick="")
        div.goods__popup
          button.goods__cart-btn.btn.popup__open(data-id="cart"+ item.id) В корзину
          button.goods__show-btn.btn.popup__open(data-id="photos"+ item.id) Фото

        picture
          source(srcset=item.img[0].path + ".webp 1x", type="image/webp")
          img.goods__img(src=item.img[0].path + ".jpg", alt=item.img[0].alt)

        ul.goods__info-block
          li.goods__info-row
            div
              h3.goods__head=item.name
              span="Арт " + item.id
            span.goods__price=item.price + " р."

          li.goods__info-row
            h3.goods__head Размеры
            ul
              each size in item.sizes
                li.goods__size=size

          li.goods__info-row
            h3.goods__head Цвета
            ul
              each color in item.colors
                li.goods__color(class="goods__color--"+color, title=color)
        - i++;
