include items
include ../photo/photo

section.goods
  h2.goods__header.section-header Каталог
  b.goods__tagline.tagline Все товары здесь

  ul.goods__list

    each item, index in allItems
      +photo(item.img, item.name, index)
      li.goods__item(onclick="")
        div.goods__popup
          button.goods__cart-btn.btn(data-id=item.id, data-name=item.name, data-price=item.price) В корзину
          button.goods__show-btn.btn(data-index=index) Фото

        picture
          source(srcset=item.img[0] + ".webp 1x", type="image/webp")
          img.goods__img(src=item.img[0] + ".jpg", alt="")

        ul.goods__info-block
          li.goods__info-row
            div
              h3.goods__head=item.name
              span="Арт " + item.id
            span.goods__price=item.price + " р."

          li.goods__info-row
            h3.goods__head Размеры
            ul
              each size in item.sizes
                li.goods__size=size

          li.goods__info-row
            h3.goods__head Цвета
            ul
              each color in item.colors
                li.goods__color(class="goods__color--"+color, title=color)
